<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="deleteuser.css">
</head>
<body>
      <header class="header2">

        <nav class="nav container">
        <ul class="nav-items2">
            <li><a href="/">Home</a></li>
             <li><a href="/fetchuser">FetchUser</a></li>
             <li><a href="/deleteuser">DeleteUser</a></li>
             <li><a href="/userdetails">UserDetails</a></li>

           
        </ul>
        </nav>


    </header>

      <form action="/Vies,/Edit,/Delete" class="userlistform">

            <div class="content">

            <lable>user name</lable><br>
            <input type="text" name="username">
            <lable>Email id</lable><br>
            <input type="email" name="email"><br><br>
        
            <button class="btn">Delete</button>
            </div>

        </form>
    
</body>
</html>