<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
  <header class="header">
        <nav class=" nav container">
            <h1 class=" logo">Hello Cointab</h1>

            <ul class="nav-items">
                <li><a href="/">Home</a></li>
                <li><a href="/fetchuser">FetchUser</a></li>
                <li><a href="/deleteuser">DeleteUser</a></li>
                  <li><a href="/userdetails">UserDetails</a></li>


            </ul>
        </nav>
        <div class="headline">
            <h2>  User Details </h2>
            <a href="/userdetails">
                <button class="btn btn-heading"> User Details Here</button>
            </a>
          
        </div>
    </header>
</body>
</html>